body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
}
form {
    width: 60vw;
    margin-top: 5vh;
}

legend {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    display: block;
}
label {
    display: block;
}

fieldset {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.t-shirt-section {
    background-color: lightblue;
    border-radius: 10px;
    padding: 1vw;
    border: 1px solid blue;
    .radio-button-option {
        label {
            display: inline;
        }
        input {
            display: inline;
        }
    }
}



.contact-details-section {
    background-color: lightblue;
    margin-top: 1vh;
    padding: 1vw;
    border-radius: 10px;
    border: 1px solid blue;
    .telephone-number {
        input {
            display: inline;
        }
        p {
            display: inline;
        }
    }
}

.address-section {
    background-color: lightblue;
    border: 1px solid blue;
    margin-top: 1vh;
    padding: 1vw;
    border-radius: 10px;
}

.submit-section {
    margin-top: 3vh;
    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        label {
            display: inline;
        }
        input {
            display: inline;
        }
    }
    .buttons {
        margin-top: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        button:nth-of-type(2) {
            margin-left: 2vw;
        }
        button {
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            height: 5vh;
            width: 80px;
        }
    }
}